JWT_SECRET_HASH_KEY=very_secret_hash_key
PORT=8001
PG_DATABASE_URL='postgres://postgres:9535@localhost:5432/expense_tracker'
ENVIRONMENT=local #"production" when it is being deployed in cloud
KAFKA_PORT=localhost:9092